html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  color: #393c41;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}
#root {
  position: relative;
  height: 100%;
  min-height: 100vh;
}

/*------------------------------
            Global        
------------------------------*/
a {
  color: #393c41;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
a:hover {
  color: #e17749;
  text-decoration: none;
}

/*------------------------------
            Navbar        
------------------------------*/
.navbar {
  padding: 1rem 0;
}
.navbar h3 {
  margin: 0;
}

/*------------------------------
            Home        
------------------------------*/
.home .container,
.home .row,
.home .col-12,
.home .d-flex {
  height: 100%;
}
.home .s1 {
  background: url(./images/landing.jpg) center no-repeat;
  background-size: cover;
}

/*------------------------------
            Footer        
------------------------------*/
footer {
  padding: 1.5rem 0;
}
